#content {
    display: flex; 
    /* height: 100vh;  */
    justify-content: center; 
    align-items: center; 
}

.main-grid {
    display: grid; 
    grid-template-columns: repeat(8, 50px); 
    grid-template-rows: repeat(20, 50px); 
    grid-gap: 1px;
    background-color: black;
}
.virus, .pixel {
    width: 100%;
    /* box-sizing: border-box; */
    border: solid 20px black;;
}
.virus, .pixel {
    grid-column: span 1; 
}

.pill {
    border-radius: 15px;
    /* box-shadow: inset 0px 0px 9px 0px #888888; */
    box-shadow: inset 0px 0px 3px 0px #eaeaea;
    border: solid 1px #888888;
    /* opacity: .8; */
}

.virus {
    border: solid 3px #1e1e1e;
    /* border-radius: 0 0 15px 15px; */
    box-sizing: border-box;
    box-shadow: inset 0px 0px 8px 0px #6d6d6d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: .8;
    align-items: center;
}

.eyes {
    display: flex;
    justify-content: space-evenly;
    margin: 0 1px 0;
    /* background: black; */
    height: 16px;
    width: 50px;
}

.mouth {
    width: 60%;
    height: 8px;
    background: black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 3px 0;
}


.eyes div{
    /* border-style: solid; */
    border-width: 1px;
    height: 10px;
    width: 16px;
    border-radius: 6px;
    box-sizing: border-box;
}


.eyes div:first-child {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.eyes div:last-child {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

/* .blue {background:#6576f2} */
.blue {background:#3F52F4}
.blue-border {border-color:#1d53f4}
.blue .eyes div {background: #F8EF18}
.virus.blue {border-radius: 30px 30px 50px 50px; box-shadow: inset 0px 0px 9px 0px #bcb638;}
.virus.blue .mouth {border-radius: 0 0 5px 5px;width:55%; height: 4px;}

.yellow{background:#feef00}
.yellow-border{border-color:#feef00; border: 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.yellow .eyes div {
    background: #52A6FE;
}

.red{background:#E50301;}
.red-border{border-color:#ad0101;}
.virus.red {border-radius: 20px;}
.red .eyes div {
    border: solid 5px #1e1e1e; background: #52A6FE; 
    border-radius: 9000px;height: 13px; width:13px;
    /* border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; */
}
.red .mouth { border-radius: 0 0 5px 5px;height: 8px;}




