
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inconsolata', monospace; 
*/

.details-widget {
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata', monospace; 

}

.details-widget > p:first-of-type {
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 20px;
    background: white;
    border: 1px #cdcdcd solid;
    padding: 10px;
    margin: 10px 0 20px;
    box-shadow: 5px 10px 18px #888888;
}
/* functionality */
.game-pad {
    display: flex;
    height: 200px;
    
}

.game-pad > * {
    box-sizing: border-box;
    border: solid 1px green;
}

.game-pad .arrows {
    width: 150px;
    margin: auto;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
    background: black;
}

.game-pad .arrows div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: darkgray;
    border-radius: 10px;
}

.arrows div.arrow {
    background: black;
}

.arrows .down-arrow{
    transform: rotate(-180deg);

}

.arrows .blank {}

.game-pad > *:last-child {
    width: 40%;
}

/* color and shit */
.game-pad {
    box-shadow: 5px 10px 18px #888888;
    border: solid 1px black;
    /* background: black; */
}
/* 
.game-pad .gray-border {
    border: solid 10px #CAC9D0;
    border-top-width: 25px;
} */