
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

}

.game-container h3 {
    margin-bottom: 56px;
}

.game-container p {
    font-size: 30px;
    margin: 0 50px;
    line-height: 70px;
    
}

/* img is 668 * 1546 natively */

/* 800/1546 = 51.7% */
/* 48.253557567% is cropping percent value */
/* 24.126778784% on each side  */



.game-board {
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
}

/* GAME BOARD CURTAIN */

.bottle.body {
    width: 425px;
    min-height: 600px;
    max-height: 1050px;
    border: double 10px #888888;
    box-sizing: border-box;
    background: white;
    overflow: hidden;

}
.curtain {
    background: black;
    color: #e5e5e5;
    height: 100vw;
    padding-top: 70px;
}

.curtain .virus {
    width: 50px;
    height: 50px;
}

.curtain .virus-row {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

/* game board will be 720 high */





